<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="testng.webSocketClient"/>
    </classes>
  </test> <!-- Test -->
  <test name="ListenerClient">
    <classes>
      <class name="com.aiblockchain.client.AIBlockChainListenerClientTest"/>
    </classes>  
  </test>
</suite> <!-- Suite -->
